body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}

main {
    margin: 50px 20px;
}

main img {
    max-width: 100%;   /* l'image ne dépassera jamais la largeur du conteneur */
    height: auto;      /* garde les proportions */
    display: block;    /* évite des espaces indésirables */
    margin: 20px auto; /* centrer l'image */
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}