body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}

main {
    margin: 20px;
    padding-bottom: 60px; /* pour ne pas que le footer cache le contenu */
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 50%;
}